<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>My Portfolio</h3>
                <h5>Computer Games Technology Graduate from the University of the West of England.</h5>
                <h5>A wide range of skills and cross-platform development, including: C, C++, C#, Python, Unity, Unreal Engine, DirectX, Deep Learning and much more.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/blue3.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
